// color
$bg-color: hsl(222deg 26% 15%);
$main-background:hsl(218, 28%, 13%);
$btn-primary:hsl(193deg 59% 55%);
$White:hsl(0, 0%, 100%);
$card-color:hsl(220deg 29% 18%);
$shadow-color: rgba(28, 34, 48, 0.014);
