.illustration-introduction {
  padding: 30px;
  .heading {
    color: $White;
    font-size: 60px;
    text-align: center;
  }
  .pragraph {
    color: $White;
    font-size: 26px;
    text-align: center;
  }
  .button-primary {
    .btn-primary {
      padding: 20px 120px;
      @include border;
    }
  }
}

