@import "../icon/style.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: hsl(222deg, 26%, 15%);
  font-family: "Open Sans", sans-serif;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-center {
  justify-content: center;
}

.flex-cloumn {
  flex-direction: column;
}

.align-item-center {
  align-items: center;
}

.image-responsive {
  width: 100%;
  height: auto;
}

.fs-1 {
  font-size: 24px;
}

.text-center {
  text-align: center;
}

.text-nowrap {
  white-space: nowrap;
}

.p-0 {
  padding: 0px;
}

.pt-0 {
  padding-top: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pl-0 {
  padding-left: 0px;
}

.pr-0 {
  padding-left: 0px;
}

.px-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.py-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.p-1 {
  padding: 10px;
}

.pt-1 {
  padding-top: 10px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pl-1 {
  padding-left: 10px;
}

.pr-1 {
  padding-left: 10px;
}

.px-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.mt-1 {
  margin-top: 10px;
}

.p-2 {
  padding: 20px;
}

.pt-2 {
  padding-top: 20px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pl-2 {
  padding-left: 20px;
}

.pr-2 {
  padding-left: 20px;
}

.px-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.mt-2 {
  margin-top: 20px;
}

.p-3 {
  padding: 30px;
}

.pt-3 {
  padding-top: 30px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pl-3 {
  padding-left: 30px;
}

.pr-3 {
  padding-left: 30px;
}

.px-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.mt-3 {
  margin-top: 30px;
}

.p-4 {
  padding: 40px;
}

.pt-4 {
  padding-top: 40px;
}

.pb-4 {
  padding-bottom: 40px;
}

.pl-4 {
  padding-left: 40px;
}

.pr-4 {
  padding-left: 40px;
}

.px-4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-4 {
  padding-left: 40px;
  padding-right: 40px;
}

.mt-4 {
  margin-top: 40px;
}

.p-5 {
  padding: 50px;
}

.pt-5 {
  padding-top: 50px;
}

.pb-5 {
  padding-bottom: 50px;
}

.pl-5 {
  padding-left: 50px;
}

.pr-5 {
  padding-left: 50px;
}

.px-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-5 {
  padding-left: 50px;
  padding-right: 50px;
}

.mt-5 {
  margin-top: 50px;
}

.p-6 {
  padding: 60px;
}

.pt-6 {
  padding-top: 60px;
}

.pb-6 {
  padding-bottom: 60px;
}

.pl-6 {
  padding-left: 60px;
}

.pr-6 {
  padding-left: 60px;
}

.px-6 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.py-6 {
  padding-left: 60px;
  padding-right: 60px;
}

.mt-6 {
  margin-top: 60px;
}

.p-7 {
  padding: 70px;
}

.pt-7 {
  padding-top: 70px;
}

.pb-7 {
  padding-bottom: 70px;
}

.pl-7 {
  padding-left: 70px;
}

.pr-7 {
  padding-left: 70px;
}

.px-7 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.py-7 {
  padding-left: 70px;
  padding-right: 70px;
}

.mt-7 {
  margin-top: 70px;
}

.p-8 {
  padding: 80px;
}

.pt-8 {
  padding-top: 80px;
}

.pb-8 {
  padding-bottom: 80px;
}

.pl-8 {
  padding-left: 80px;
}

.pr-8 {
  padding-left: 80px;
}

.px-8 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.py-8 {
  padding-left: 80px;
  padding-right: 80px;
}

.mt-8 {
  margin-top: 80px;
}

.ps-1 {
  font-size: 10px;
}

.ps-2 {
  font-size: 12px;
}

.ps-3 {
  font-size: 14px;
}

.ps-4 {
  font-size: 20px;
}

.ps-5 {
  font-size: 30px;
}

.ps-6 {
  font-size: 40px;
}

.ps-7 {
  font-size: 50px;
}

.ps-8 {
  font-size: 60px;
}

.card-main-wrapper {
  margin-bottom: 400px;
}
@media (max-width: 576px) {
  .card-main-wrapper {
    flex-direction: column;
    margin-bottom: 250px;
  }
}
@media (max-width: 1024px) {
  .card-main-wrapper {
    flex-direction: column;
  }
}
.card-main-wrapper .first-card-wrapper {
  position: relative;
}
.card-main-wrapper .first-card-wrapper .card-one {
  z-index: 100;
}
@media (max-width: 576px) {
  .card-main-wrapper .first-card-wrapper .card-one {
    margin-left: 0px;
  }
}
.card-main-wrapper .first-card-wrapper .quotes-image {
  width: 50px;
  margin-top: -32px;
  margin-left: -5px;
  position: absolute;
}
@media (max-width: 576px) {
  .card-main-wrapper .first-card-wrapper .quotes-image {
    width: 30px;
    margin-left: 0px;
    margin-top: -3px;
  }
}
.card-main-wrapper .card {
  width: 350px;
  height: 200px;
  background-color: hsl(220deg, 29%, 18%);
  padding: 25px;
  position: relative;
  box-shadow: 5px 5px 1px rgba(28, 34, 48, 0.014);
}
@media (max-width: 1024px) {
  .card-main-wrapper .card {
    margin-bottom: 20px;
    width: 600px;
    height: 200px;
  }
}
@media (max-width: 576px) {
  .card-main-wrapper .card {
    margin-top: 20px;
    width: 280px;
    height: 180px;
    padding: 13px;
  }
}
.card-main-wrapper .card span {
  color: hsl(0deg, 0%, 100%);
  font-size: 14px;
}
@media (max-width: 576px) {
  .card-main-wrapper .card span {
    font-size: 11px;
  }
}
.card-main-wrapper .card .product-image {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
}
.card-main-wrapper .card .profile-text p {
  font-size: 10px;
}

header {
  padding: 62px;
}
@media (max-width: 576px) {
  header {
    padding: 20px;
  }
}
header .logo {
  width: 10px;
}
header .logo img {
  width: 155px;
}
@media (max-width: 576px) {
  header .logo img {
    width: 72px;
  }
}
header .nav .nav-item {
  list-style: none;
}
header .nav .nav-item .nav-link {
  text-decoration: none;
  color: white;
  margin: 30px;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 576px) {
  header .nav .nav-item .nav-link {
    margin: 5px;
  }
}

.illustration-introduction {
  position: relative;
  padding: 30px;
}
.illustration-introduction .illustration-intro {
  z-index: 100;
}
.illustration-introduction .bg-image {
  height: 600px;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: -5px;
}
@media (min-width: 998px) {
  .illustration-introduction .bg-image {
    background-image: url(./../../../images/bg-curvy-desktop.svg);
    background-position-x: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
  }
}
@media (min-width: 320px) {
  .illustration-introduction .bg-image {
    background-image: url(./../../../images/bg-curvy-mobile.svg);
    background-position-x: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
  }
}
.illustration-introduction h1 {
  color: hsl(0deg, 0%, 100%);
  font-size: 64px;
  text-align: center;
  z-index: 100;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 576px) {
  .illustration-introduction h1 {
    padding-top: 20px;
    font-size: 23px;
    display: flex;
  }
}
.illustration-introduction p {
  color: hsl(0deg, 0%, 100%);
  font-size: 26px;
  text-align: center;
  width: 56%;
  z-index: 100;
}
@media (max-width: 576px) {
  .illustration-introduction p {
    padding-top: 20px;
    font-size: 14px;
    display: flex;
    width: 100%;
  }
}
.illustration-introduction .button-primary {
  z-index: 100;
}
.illustration-introduction .button-primary .btn-primary {
  padding: 20px 120px;
  border: none;
  border-radius: 50px;
  background-color: hsl(193deg, 59%, 55%);
  color: hsl(0deg, 0%, 100%);
  font-size: 18px;
}
@media (max-width: 576px) {
  .illustration-introduction .button-primary .btn-primary {
    padding: 15px 83px;
    margin-top: 27px;
    font-size: 14px;
  }
}

.product-section {
  padding: 30px;
  background-color: hsl(218deg, 28%, 13%);
}
@media (max-width: 576px) {
  .product-section {
    padding: 22px;
  }
}
.product-section .first-section {
  color: hsl(0deg, 0%, 100%);
}
@media (max-width: 576px) {
  .product-section .first-section {
    flex-direction: column;
  }
}
.product-section .first-section .laptop h2 {
  font-family: "Raleway", sans-serif;
}
@media (max-width: 576px) {
  .product-section .first-section .laptop h2 {
    font-size: 22px;
  }
}
.product-section .first-section .laptop p {
  width: 67%;
  width: 63%;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 576px) {
  .product-section .first-section .laptop p {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .product-section .first-section .security {
    padding-top: 90px;
  }
}
.product-section .first-section .security h2 {
  font-family: "Raleway", sans-serif;
}
.product-section .first-section .security p {
  width: 63%;
  width: 63%;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 576px) {
  .product-section .first-section .security p {
    width: 100%;
  }
}
.product-section .second-section {
  margin-top: 80px;
  color: hsl(0deg, 0%, 100%);
}
@media (max-width: 576px) {
  .product-section .second-section {
    flex-direction: column;
    padding-top: 16px;
  }
}
.product-section .second-section .icon-collaboration h2 {
  font-family: "Raleway", sans-serif;
}
.product-section .second-section .icon-collaboration p {
  width: 63%;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 576px) {
  .product-section .second-section .icon-collaboration p {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .product-section .second-section .icon-any-file {
    padding-top: 90px;
  }
}
.product-section .second-section .icon-any-file h2 {
  font-family: "Raleway", sans-serif;
}
.product-section .second-section .icon-any-file p {
  width: 55%;
  width: 63%;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 576px) {
  .product-section .second-section .icon-any-file p {
    width: 100%;
  }
}
.product-section .third-section {
  margin-top: 80px;
  color: hsl(0deg, 0%, 100%);
}
@media (max-width: 576px) {
  .product-section .third-section {
    flex-direction: column;
  }
}
.product-section .third-section .text-section {
  width: 50%;
  margin-left: 40px;
}
@media (max-width: 576px) {
  .product-section .third-section .text-section {
    width: 100%;
    margin-left: 0px;
  }
}
.product-section .third-section .text-section h3 {
  font-size: 62px;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 992px) {
  .product-section .third-section .text-section h3 {
    font-size: 34px;
  }
}
@media (max-width: 1024px) {
  .product-section .third-section .text-section h3 {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .product-section .third-section .text-section h3 {
    font-size: 18px;
  }
}
.product-section .third-section .text-section p {
  font-size: 20px;
}
@media (max-width: 576px) {
  .product-section .third-section .text-section p {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .product-section .third-section .text-section p {
    font-size: 15px;
  }
}
.product-section .third-section .text-section .flye-work-link {
  color: #297575;
}

footer {
  background-color: hsl(214deg, 49%, 9%);
  padding: 200px 60px 100px 60px;
  position: relative;
}
@media (max-width: 768px) {
  footer {
    padding: 118px;
  }
}
@media (max-width: 576px) {
  footer {
    padding: 65px 26px 51px 27px;
  }
}
footer .footer-wrapper {
  margin-top: 110px;
}
@media (max-width: 768px) {
  footer .footer-wrapper {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  footer .footer-wrapper {
    flex-direction: column;
    padding: 100px 10px 100px 10px;
    margin-top: 10px;
  }
}
footer .footer-wrapper .first-footer-section span {
  color: hsl(0deg, 0%, 100%);
}
footer .footer-wrapper .second-footer-section p {
  color: hsl(0deg, 0%, 100%);
}
footer .footer-wrapper ul {
  list-style: none;
  color: hsl(0deg, 0%, 100%);
  flex-direction: column;
}
@media (max-width: 768px) {
  footer .footer-wrapper ul {
    margin-top: 20px;
  }
}
@media (max-width: 576px) {
  footer .footer-wrapper ul {
    margin-top: 20px;
  }
}
footer .footer-wrapper ul li {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  footer .footer-wrapper .Wrapper-social-media {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  footer .footer-wrapper .Wrapper-social-media {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
footer .footer-wrapper .Wrapper-social-media .social-media {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  overflow: hidden;
  border: 2px solid hsl(0deg, 0%, 100%);
  margin-right: 10px;
}
footer .footer-wrapper .Wrapper-social-media .social-media p {
  font-size: 18px;
  color: white;
}

.card1 {
  width: 70%;
  padding: 61px;
  border-radius: 10px;
  background-color: hsl(222deg, 26%, 15%);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -200px;
  box-shadow: 10px 10px 1px rgba(28, 34, 48, 0.014);
}
@media (max-width: 768px) {
  .card1 {
    top: -300px;
  }
}
@media (max-width: 576px) {
  .card1 {
    flex-direction: column;
    padding: 25px 10px 35px 10px;
    width: 90%;
    top: -180px;
  }
}
.card1 h3 {
  text-align: center;
  color: hsl(0deg, 0%, 100%);
  font-size: 40px;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 576px) {
  .card1 h3 {
    font-size: 18px;
  }
}
.card1 p {
  padding-top: 10px;
  padding-bottom: 40px;
  text-align: center;
  color: hsl(0deg, 0%, 100%);
  font-size: 18px;
}
@media (max-width: 576px) {
  .card1 p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .card1 .button-section {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .card1 .button-section {
    flex-direction: column;
  }
}
.card1 .button-section input[type=text] {
  padding: 20px 280px 20px 20px;
  border-radius: 50px;
  border: none;
  margin-right: 20px;
}
@media (max-width: 1024px) {
  .card1 .button-section input[type=text] {
    padding: 20px 140px 20px 20px;
  }
}
@media (max-width: 768px) {
  .card1 .button-section input[type=text] {
    padding: 20px 140px 20px 20px;
  }
}
@media (max-width: 576px) {
  .card1 .button-section input[type=text] {
    padding: 15px 60px 15px 20px;
    margin-right: 0px;
  }
}
.card1 .button-section .btn-2 {
  padding: 20px 40px;
  font-size: 15px !important;
  border: none;
  border-radius: 50px;
  background-color: hsl(193deg, 59%, 55%);
  color: hsl(0deg, 0%, 100%);
  font-size: 18px;
}
@media (max-width: 768px) {
  .card1 .button-section .btn-2 {
    padding: 20px 100px;
    margin-top: 30px;
  }
}
@media (max-width: 576px) {
  .card1 .button-section .btn-2 {
    padding: 15px 55px;
    margin-top: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
